<div ng-hide="!vm.showit" class="cssSlideUp">
        <span>yo yo yo</span>
        <button class='btn btn-warning' ng-click='vm.addElement()'>Add One</button>
    </div>
    
    <button class='btn btn-success' ng-click="vm.showit = !vm.showit">Show It!</button>
    
    <button class='btn btn-primary' ng-click='vm.setProps()'>Set Props</button>
    <div class='fluid-container'>
        <div class='row'>
            <div class='col-xs-12' style='height:600px'>
                <ng-audio-diagram grid-width='20' grid-height='20' show-grid='true'>
                    <ng-audio-node ng-repeat='node in vm.nodes' type='{{node.type}}' key='{{node.key}}' props='node.props'></ng-audio-node>
                </ng-audio-diagram>
            </div>
        </div>
    </div>